<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Lista de Tarefas</title>
</head>
<body>
    <div id="tarefador">
    </div>
<script>
    new Vue ({
        el: '#tarefador',
        template: `
        <div class="container">
    <h1>Lista de Tarefas</h1>
    <hr />
    <div class="form-todo form-group">
        <p>
            <input type="text" name="autor" placeholder="Responsável"
            class="form-control" v-model="name" />
        </p>
        <p>
            <textarea placeholder="Detalhes da tarefa..." name="message" class="form-control" v-model="message"></textarea>
        </p>
        <button v-on:click="addComment" type="submit" class="btn btn-primary">Adicionar</button>
    </div>
    <div class="list-group">
        <div class="list-group-item" v-for="(comment, index) in comments"><br>
            <span class="comment_author">Author: <strong>{{ comment.name }}</strong></span>
            <p> {{ comment.message }} </p>
            <div>
                <a href="#" title="Excluir" v-on:click="removeComment(index)">Excluir</a>
            </div>    
        </div>
    </div>
    <hr />
</div>
        `,
        data() {
            return {
                comments: [],
                name: '',
                message: '',
                    }
                },
                methods: {
                    addComment () {
                        if (this.name.trim() === '' || this.message.trim() === '') {
                            return;
                        }
                        this.comments.push({
                            name: this.name,
                            message: this.message
                        });

                        this.name = '';
                        this.message = '';
                    },
                    removeComment(index) {
            this.comments.splice(index, 1);
        }

        }
        
    })
</script> 
</body>
</html>